<section class="container text-center mt-5 animate-fade-up">
    <div class="row justify-content-center">
        <div class="col-md-8 fade-up" id="notfound">
            <h1 class="display-1 fw-bold text-danger">404</h1>
            <p class="fs-4">Oops! Halaman yang Anda cari <span class="text-primary">tidak ditemukan</span>.</p>
            <p class="fs-6 text-muted">
                URL <span class="fw-bold text-dark">
                    <%= url %>
                </span> tidak tersedia.
            </p>
            <a href="/" class="btn btn-primary mt-3">Kembali ke Beranda</a>
        </div>
    </div>
</section>
